.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-track {
  padding-left: 20px;
  background-color: var(--scroll-color);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
}

@media screen and (max-width: 767px) {
  .list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    padding: 0 40px 0 0;
    max-height: 250px;
    max-width: 610px;
    overflow: auto;
  }
}
@media screen and (min-width: 1280px) {
  .list {
    max-height: 300px;
    max-width: 623px;
  }
}
.error {
  margin-bottom: 20px;
}
