.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}
