.block {
  position: relative;
}
.block:not(:last-child) {
  margin-bottom: 46px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.text {
  color: var(--main-color);
  position: absolute;
  top: -30px;
  left: 0;
}
.status {
  color: green;
  position: absolute;
  bottom: -36px;
  left: 0;
}
.error {
  color: red;
  position: absolute;
  bottom: 56px;
  left: 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 182px;
  height: 44px;
  background: transparent;
  border-radius: 30px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  transition: all 250ms linear;
  margin-top: 39px;
}

.btn:disabled,
.btn:focus:disabled,
.btn:hover:disabled {
  color: var(--bg-color);
  background-color: #9d9d9d;
  border: 2px solid #5c5c5c;
}

.btn:hover,
.btn:focus {
  background: var(--accent-color);
  border: none;
  color: var(--bg-color);
}

.label {
  width: 100%;
}
.label:not(:first-child) {
  margin-top: 19px;
}
.formInput {
  width: 100%;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 19px;
}
.formInput :not(:first-child) {
  padding-bottom: 19px;
}
.formInput:focus {
  outline: none;
}

.formInput::placeholder {
  color: var(--second-color);
}

.passInput {
  padding-right: 60px;
}

.btnCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 172px;
  margin-top: 21px;
}

.passVisBtn {
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translateX(-50px);
  border: none;
  background-color: transparent;
  outline: red;
}

.passBtnImg {
  border: none;
}

.errorMessage {
  position: absolute;
  transform: translate(5px, -35px);
  color: red;
  font-size: 10px;
  max-width: 260px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 400px;
    margin: 0;
  }

  .btnCont {
    flex-direction: row;
    width: 608px;
    height: 44px;
  }
}
