.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  overflow-y: auto;
}

.main::-webkit-scrollbar {
  width: 6px;
}

.main::-webkit-scrollbar-track {
  background-color: var(--scroll-color);
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
}

.diary {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 60px;
}

.sidebar {
  width: 100%;
  background-color: var(--scroll-color);
}

@media screen and (max-width: 767px) {
  .main {
    height: calc(100vh - 122px);

    overflow-x: hidden;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 100px;
    min-height: calc(100vh - 82px);
  }

  .diary {
    margin-bottom: 55px;
  }

  .sidebar {
    /* background */
    background-image: url(../../assets/png/backgroundDiaryTab_x1.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 369px 338px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .sidebar {
      background-image: url(../../assets/png/backgroundDiaryTab_x2.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .main {
    flex-direction: row;
    padding-top: 140px;
    min-height: calc(100vh - 229px);
  }

  .diary {
    flex-grow: 0;
    width: 623px;
    margin-bottom: 0;
    padding-bottom: 60px;
  }
}
