.block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 24px;
}

.diaryCalendar {
  width: 300px;
  /* color */
  border: none;
  outline: none;
  color: var(--main-color);
  background-color: transparent;
  /* font */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  cursor: pointer;
}
input {
  font-weight: bold;
}

.icon {
  position: absolute;
  left: 136px;

  width: 20px;
  height: 20px;
}

.box {
  display: inline-block;
  max-width: 150px;
}

.sidebarCalendar {
  /* color */
  border: none;
  outline: none;
  color: var(--main-color);
  background-color: transparent;
  /* font */
  font-size: inherit;

  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .block {
    margin-bottom: 40px;
  }

  .diaryCalendar {
    font-size: 34px;
    line-height: 1.21;
  }

  .icon {
    left: 240px;
  }
}
