.block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.calendar {
  width: 300px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.21;
  color: var(--main-color);
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 21px;
}
.icon {
  position: absolute;
  left: 261px;

  width: 20px;
  height: 20px;
}
