.block {
  display: flex;
  justify-content: space-between;
}
.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  line-height: 0.95;
  padding: 15px 0;
  color: var(--second-color);
}
.link:hover {
  color: var(--main-color);
}
.activeLink {
  composes: link;
  color: var(--main-color);
}
.nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 1280px) {
  .link {
    padding: 10px 16px 10px 0;
  }
  .link:last-child {
    padding-right: 0;
  }
}
