.modal {
  position: absolute;
  top: 120px;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: 100vh;

  padding: 40px 20px 119px 20px;

  background: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .modal {
    position: relative;

    top: unset;

    width: 672px;
    height: 573px;

    padding: 35px 81px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-overlay-color);
    z-index: 1200;
  }
}

.button {
  display: none;
}

.icon {
  stroke: black;
  transition: all 250ms linear;
}

.icon:hover,
.icon:focus {
  stroke: var(--accent-color);
  fill: var(--accent-color);
  scale: 1.3;
}

@media screen and (min-width: 768px) {
  .button {
    position: absolute;
    right: 24px;
    top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
  }
}
