.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.215;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 60px;
}

.text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.215;
  /* text-transform: uppercase; */
  text-align: center;
  color: var(--main-color);
  margin-bottom: 60px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .block {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 160px 32px 32px 32px;
  }
  .block {
    width: 240px;
    padding-top: 50px;
  }
  .title {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
