.container {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.215;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-height: 130vh;
    width: 768px;
    padding: 60px 32px 32px 32px;
  }

  .title {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-height: 100vh;
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    position: relative;
  }
  .icon {
    position: absolute;
    top: 45px;
    left: 20px;
    stroke: var(--main-color);
  }
  .icon:hover {
    stroke: var(--accent-color);
  }
}
