.header {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
}
.block {
  display: flex;
  align-items: center;
  height: 80px;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.nickName {
  font-family: 'Gotham Pro';
  position: relative;
  font-weight: 700;
  line-height: 0.95;
  padding: 15px 18px 13px 0;
}
.nickName::after {
  position: absolute;
  content: '';
  top: 4px;
  right: 0;
  height: 32px;
  width: 2px;
  background-color: #e0e0e0;
}
.exitBtn {
  font-family: 'Gotham Pro';
  display: inline-block;
  text-decoration: none;
  padding: 15px 0 13px 16px;
  border: none;
  font-weight: 700;
  line-height: 0.95;
}
.exitBtn:hover {
  color: var(--second-color);
}
.exitBtn:not(:last-child) {
  margin-right: 20px;
}

.burgerBtn {
  border: transparent;
}
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 480px) {
  .block {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 100px;
  }
  .block {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 150px;
  }
  .block {
    width: 1280px;
    padding: 0 16px;
    align-items: baseline;
  }
  .burgerBtn {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .block {
    border-bottom: 2px solid #e0e0e0;
  }
}
