/* .header {

} */

.nav {
  display: flex;
  flex-direction: column;
}
.block {
  display: flex;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  border-bottom: 2px solid #e0e0e0;
}
@media screen and (max-width: 767px) {
  .block {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .block {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .block {
    width: 1280px;
    padding: 0 16px;
  }
}
