.sideBar {
  width: 440px;
  padding: 40px 0 84px 0;
  /* color */
  color: var(--second-color);
  /* font */
  line-height: 1.21;
}

.section {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  /* color */
  color: var(--main-color);
  /* font */
  font-size: 14px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.button {
  border: none;
  color: inherit;
  transition: color 250ms linear;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--accent-color);
}

.additional {
  margin-top: 40px;
}

.productsList {
  padding-right: 10px;
  max-height: 160px;
  overflow-y: auto;
}

.productsList::-webkit-scrollbar {
  width: 6px;
}

.productsList::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.productsList::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
}

@media screen and (max-width: 479px) {
  .sideBar {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section:first-child {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .sideBar {
    width: 610px;
    padding: 80px 0 90px 0;
  }

  .box {
    display: flex;
  }

  .section:first-child {
    flex-shrink: 0;
    width: 288px;
    margin-right: 80px;
  }

  .title {
    margin-bottom: 30px;
  }

  .additional {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .sideBar {
    width: 288px;
    padding: 0;
    margin-left: auto;
    margin-right: 80px;
  }

  .box {
    flex-direction: column;
  }

  .section:first-child {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
