.footer {
  color: var(--third-color);
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.link {
  color: var(--accent-color);
}
/* 
@media screen and (max-width: 1279px) {
  .footer {
    border-top: 2px solid #e0e0e0;
  }
} */
