/* Styles for React select */

div.react-select__control {
  width: 100%;
  padding: 8px 0;
  border-radius: 0;
  /* color */
  border: none;
  color: var(--second-color);
  border-bottom: 1px solid var(--border-color);
}

div.react-select__control:hover {
  outline: none;
  border: none;
  border-color: none;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: none;
}

div.react-select__control--is-focused {
  outline: none;
  border: none;
  border-color: none;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: none;
}

div.react-select__value-container {
  padding: 0;
  text-align: start;
}

div.react-select__single-value {
  color: inherit;
}

div.react-select__placeholder {
  color: inherit;
  text-align: start;
}

div.react-select__input-container {
  padding: 0;
  margin: 0;
  color: inherit;
}

input.react-select__input {
  padding: 0;
  font-weight: 700;
  line-height: 1.21;
}

div.react-select__indicators {
  display: none;
}

div.react-select__menu-list::-webkit-scrollbar {
  width: 6px;
}

div.react-select__menu-list::-webkit-scrollbar-track {
  padding-left: 20px;
  background-color: var(--scroll-color);
}

div.react-select__menu-list::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
}

div.react-select__option--is-focused {
  color: var(--third-color);
}

@media screen and (min-width: 768px) {
  div.react-select__control {
    flex-shrink: 0;
    padding: 20px 0;
  }
  div.react-select__menu {
    width: 365px;
  }
}

@media screen and (min-width: 768px) {
  div.react-select__menu {
    width: 395px;
  }
}
