:root {
  --main-color: #212121;
  --second-color: #9b9faa;
  --third-color: #264061;

  --accent-color: #fc842d;

  --scroll-color: #f0f1f3;

  --bg-color: #ffffff;
}
body {
  margin: 0;
  font-family: 'Verdana', 'Gotham Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  background-color: transparent;
}
