:root {
  --main-color: #212121;
  --second-color: #9b9faa;
  --third-color: #264061;

  --accent-color: #fc842d;

  --scroll-color: #f0f1f3;

  --bg-color: #fff;

  --btn-box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);

  --border-color: #e0e0e0;

  --block-modal-color: #eff1f3;

  --modal-overlay-color: rgba(33, 33, 33, 0.12);
}

@font-face {
  font-family: 'gothampro';
  src: url('./assets/fonts/Gotham/gothampro.ttf') format('truetype');
}

@font-face {
  font-family: 'Verdana-Bold';
  font-weight: 700;
  src: url('./assets/fonts/Verdana/Verdana-Bold.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Verdana';
  src: url('./assets/fonts/Verdana/Verdana.ttf') format('truetype');
} */
body {
  margin: 0;

  font-family: 'Verdana', 'Gotham Pro', sans-serif;
  /* font-family: 'Verdana';
  font-weight: 500;
  src: local('Verdana'), url(./assets/fonts/Verdana/Verdana.ttf) format('truetype');
  font-family: 'Verdana';
  font-weight: 700;
  src: local('Verdana'), url(./assets/fonts/Verdana/Verdana-Bold.ttf) format('truetype');
  font-family: 'Gotham Pro';
  font-weight: 700;
  src: local('Gotham Pro'), url(./assets/fonts/Gotham/gothampro.ttf) format('truetype'); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 0.04em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  #modal-nav {
    display: none;
  }
}
