.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .container {
    min-height: 120vh;
  }
  .section {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-height: 80vh;
  }
  .section {
    padding-top: 140px;
  }
}
