.backgroundHome,
.backgroundAuth,
.backgroundDiaryCalc {
  min-height: 100vh;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .backgroundHome {
    background: url(../../assets/png/backgroundTab_x1.png) no-repeat 100% 100%;
    background-size: 768px 563px;
  }
  .backgroundAuth {
    background: url(../../assets/png/backgroundTabAuth_x1.png) no-repeat 100% 100%;
    background-size: 752px 944px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .backgroundHome {
      background-image: url(../../assets/png/backgroundTab_x2.png);
    }
    .backgroundAuth {
      background: url(../../assets/png/backgroundTabAuth_x2.png) no-repeat 100% 100%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .backgroundHome {
    background-image: url(../../assets/png/backgroundAuthDeskTop_x1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .backgroundDiaryCalc {
    background-image: url(../../assets/png/backgroundDiaryCalcDeskTop_x1.png),
      linear-gradient(to right, var(--bg-color) 59.6%, var(--scroll-color) 59.6%);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain, 100% 100%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    /* .backgroundHome {
      background-image: url(../../assets/png/backgroundAuthDeskTop_x2.png);
    } */
    .backgroundHome {
      background-image: url(../../assets/png/backgroundAuthDeskTop_x2.png);
    }
    .backgroundDiaryCalc {
      background-image: url(../../assets/png/backgroundDiaryCalcDeskTop_x2.png),
        linear-gradient(to right, var(--bg-color) 59.6%, var(--scroll-color) 59.6%);
    }
  }
}
